@model List<WebApplication3.Models.ili>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h1>Index</h1>
<a class="btn btn-primary" href="/ili/Create">Ekle</a>
<table class="table table-striped">
    <tr>
        <td>İl Adı</td>
        <td>Düzelt</td>
        <td>Silme</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.il_Adi</td>
            <td><a class="btn btn-danger" href="/ili/Edit/@item.il_Id">Düzelt</a></td>
            <td><a class="btn btn-success" href="/ili/Delete/@item.il_Id">Sil</a></td>
        </tr>

    }
</table>

