@model List<WebApplication3.Models.Brans>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a class="btn btn-primary" href="/Brans/Create">Ekle</a>
<table class="table table-striped">
    <tr>
        <td>Branş Adı</td>
        <td>Düzelt</td>
        <td>Silme</td>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Brans_Adi</td>
            <td><a class="btn btn-danger" href="/Brans/Edit/@item.Brans_Id">Düzelt</a></td>
            <td><a class="btn btn-success" href="/Brans/Delete/@item.Brans_Id">Sil</a></td>
        </tr>
        
    }
</table>

