@model WebApplication3.Models.Maliyet

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Maliyet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="isin_Adi" class="control-label"></label>
                <input asp-for="isin_Adi" class="form-control" />
                <span asp-validation-for="isin_Adi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="isin_Adedi" class="control-label"></label>
                <input asp-for="isin_Adedi" class="form-control" />
                <span asp-validation-for="isin_Adedi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tutari" class="control-label"></label>
                <input asp-for="Tutari" class="form-control" />
                <span asp-validation-for="Tutari" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pesin_Gelir" class="control-label"></label>
                <input asp-for="pesin_Gelir" class="form-control" />
                <span asp-validation-for="pesin_Gelir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kar" class="control-label"></label>
                <input asp-for="kar" class="form-control" />
                <span asp-validation-for="kar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idari_pay" class="control-label"></label>
                <input asp-for="idari_pay" class="form-control" />
                <span asp-validation-for="idari_pay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="shcek" class="control-label"></label>
                <input asp-for="shcek" class="form-control" />
                <span asp-validation-for="shcek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="iscilik" class="control-label"></label>
                <input asp-for="iscilik" class="form-control" />
                <span asp-validation-for="iscilik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="malzeme" class="control-label"></label>
                <input asp-for="malzeme" class="form-control" />
                <span asp-validation-for="malzeme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ogretmen" class="control-label"></label>
                <input asp-for="ogretmen" class="form-control" />
                <span asp-validation-for="ogretmen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ogrenci" class="control-label"></label>
                <input asp-for="ogrenci" class="form-control" />
                <span asp-validation-for="ogrenci" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Okul_Id" class="control-label"></label>
                <input asp-for="Okul_Id" class="form-control" />
                <span asp-validation-for="Okul_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

