@model WebApplication3.Models.Maliyet

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Maliyet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Isin_Adi" class="control-label"></label>
                <input asp-for="Isin_Adi" class="form-control" />
                <span asp-validation-for="Isin_Adi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Isin_Adedi" class="control-label"></label>
                <input asp-for="Isin_Adedi" class="form-control" />
                <span asp-validation-for="Isin_Adedi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tutari" class="control-label"></label>
                <input asp-for="Tutari" class="form-control" />
                <span asp-validation-for="Tutari" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pesin_Gelir" class="control-label"></label>
                <input asp-for="Pesin_Gelir" class="form-control" />
                <span asp-validation-for="Pesin_Gelir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kar" class="control-label"></label>
                <input asp-for="Kar" class="form-control" />
                <span asp-validation-for="Kar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idari_pay" class="control-label"></label>
                <input asp-for="Idari_pay" class="form-control" />
                <span asp-validation-for="Idari_pay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shcek" class="control-label"></label>
                <input asp-for="Shcek" class="form-control" />
                <span asp-validation-for="Shcek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iscilik" class="control-label"></label>
                <input asp-for="Iscilik" class="form-control" />
                <span asp-validation-for="Iscilik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Malzeme" class="control-label"></label>
                <input asp-for="Malzeme" class="form-control" />
                <span asp-validation-for="Malzeme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ogretmen" class="control-label"></label>
                <input asp-for="Ogretmen" class="form-control" />
                <span asp-validation-for="Ogretmen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ogrenci" class="control-label"></label>
                <input asp-for="Ogrenci" class="form-control" />
                <span asp-validation-for="Ogrenci" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OkulId" class="control-label"></label>
                <select asp-for="OkulId" class ="form-control" asp-items="ViewBag.OkulId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
