@model WebApplication3.Models.Okul

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Okul</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">İl Adı</label>
              
                <select asp-items="ViewBag.iller" class="form-control"></select>
                
            </div>
            <div class="form-group">
                <label asp-for="ilce_Id" class="control-label"></label>
                
                <select asp-for="ilce_Id" class="form-control" asp-items="ViewBag.ilceler"></select>

                <span asp-validation-for="ilce_Id" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="OkulAdi" class="control-label"></label>
                <input asp-for="OkulAdi" class="form-control" />
                <span asp-validation-for="OkulAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VergiNo" class="control-label"></label>
                <input asp-for="VergiNo" class="form-control" />
                <span asp-validation-for="VergiNo" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

